[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
black = "==20.8b1"
isort = "*"
flake8 = "*"

[packages]
PyGithub = "*"
requests = "*"
GitPython = "*"

[requires]
python_version = "3"
